


*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family: "Silkscreen", sans-serif !important;
    font-weight: 400;
    font-style: normal;
    user-select: none;
    scrollbar-color:#505050 #3c3c3c;
}

.login
{
    width: 100%;
    height: 100%;
    max-width: 650px;
    max-height: 400px;
    color:#e6e6e6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    border-radius: 24px;
    gap:15px;
    border:1px solid #e6e6e6;
    position: relative;
    z-index: 2;
    background-color: #1212124f;
}

.login p
{
    color:#e6e6e6;
    font-size: 18px;
}

.login h1
{
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.loginBody
{
    width: 100vw;
    height: 94vh;
    background-color: #121212;
    display: flex;
    align-items: center;
    border:1px solid #b3b3b3;
    justify-content: center;
}
.login input
{
    width: 80%;
    height: 35px;
    font-size: 22px;
    border-radius: 7px;

}

.submit
{
    width: 80%;
    height: 35px;
    font-size: 22px;
    border-radius: 7px;
    background-color: #dfdfdf;
    color:#3c3c3c;
    border:none;
}

.textbox
{
    padding-left: 10px;
    background-color: #dfdfdf;
    color:#3c3c3c;
    border:none;
    outline-color: white;
}

.submit:hover
{
    cursor: pointer;
    background-color: white;
}

.picLogin
{
    width: 45%;
    left: 50%;
    top:2%;
    position: absolute;
    z-index:1;
}


.title
{
    position: absolute;
    z-index: 1000;
    top:10%;
    font-size: 50px;
    background-color:#e6e6e6;
    padding: 20px;
    border-radius: 10px;
    color:#3c3c3c;
}


.visible
{
    display: block;
    text-align: center;
}
.invisible
{
    display:none;
}

.dark
{
    background-color: #121212;
}

.principal
{
    width: 100vw;
    height: 94vh;
    display: flex;
    flex-direction: row;
    border: 1px solid #b3b3b3;
}

.menu
{
    background-color: #2e2e2e;
    width:70px;
    max-width: 60px;
    transition: .2s ease-in-out;
    padding-top: 1%;
    overflow-x: hidden;


}

.menu:hover
{
    max-width: 220px;
    width: 550px;
}

.menu ul
{
    width: 100%;
}

.menu ul span
{
    width:220px;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    color:#e6e6e6;
    transition: .2s ease-in-out;
    display: flex;
    flex-direction: row;
    gap:20%;
    border-radius: 7px;
}


.menu ul span:hover
{
    cursor: pointer;
    background-color: white;
    color:#121212;

}

.menu ul span:hover img
{
    filter:invert(0)
}

.menuOptionSelected
{
    background-color: white;
    color:#121212 !important
}

.menuOptionSelected img
{
    filter:invert(0) !important
}

.menu ul span img
{
    width: 40px;
    filter: invert(.7);
}

.menu ul li
{
    list-style:none;
}

.tituloContainer
{
    font-size: 48px;
    display: flex;
    color:#e6e6e6;
    width: 100%;
    display: flex;
    background: linear-gradient(360deg, rgba(46, 46, 46, 1) 0%, rgb(34, 34, 34) 50%);
    padding-left: 20%;
    max-height: 140px;
    height: 15%;
    align-items: center;
    border-bottom: 1px solid black;
    border-radius: 15px;
}

.principalCol
{
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
    position: relative;
}

.rounded
{
    border-radius: 50px;
    
}

.containerCover
{
    display: flex;
    flex-direction: row;
    gap:10px;
    padding-top: 1%;
    border-radius: 20px;
    color:#e6e6e6;
}

.apartContainer
{

    height: 75vh;
    background: #2e2e2e;
    border-radius: 20px;
    padding: 20px;
    flex:1;
    padding-top: 50px !important;
    transition: .2s ease-in-out;
}

.crud
{

        display: flex;
        justify-content:flex-start !important;
        flex-direction: column;

        padding: 10px;
        justify-content: center;
}

.crud h2
{

    width: 100%;
    text-align: center;
    
}

.crudForm textarea
{
    width: 83%;
    height: fit-content;
    min-height: 80px;
    background-color: #e6e6e6;
    outline-color: #dfdfdf;
    font-size: 18px;
    border-style: none;
    border-radius: 5px;
    padding-left: 10px;
}

.crudForm
{
    width: 100% !important;
    height: fit-content !important;
    min-height: 125px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap:10px;
    align-items: center;
    justify-self: center;
    border:1px solid white;
    margin:15px 0;
    padding: 50px 0;
    border-radius: 40px;
}

.crudForm input, .crudForm select, .crudForm span 
{
    width: 45%;
    max-width: 225px;
    height:35px;
    background-color: #e6e6e6;
    outline-color: #dfdfdf;
    font-size: 18px;
    border-style: none;
    border-radius: 5px;
    padding-left: 10px;
}

.buttonContainer
{
    height: fit-content !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:25px;
    padding: 4% 15%;
    align-items: center;
    justify-content: center;
    border:1px solid white;
    border-radius: 40px;
    margin-bottom: 20px;

}

.buttonContainer input
{
    width: 225px;
    height: 35px;
    border: none;
    border-radius: 8px;
    
}

.buttonContainer input:hover
{
    background-color: white;
    cursor: pointer;
}


.tableInfo
{
    border-radius: 10px;
    border:1px solid white
}

.tableInfo tr
{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.searchContainer
{

    width: 100% !important;
    height: 85% !important;
    display: flex !important;
    flex-direction: column !important;
    gap: 15px !important;
    overflow: auto !important;
    

}

.searchContainer table tr
{
    border-bottom: 1px solid white;
    padding:5px 0px;
    display: flex;
    gap:5px;
}

.searchContainer table tr:hover
{
    background-color:#e6e6e6;
    color: #121212;
    cursor: pointer;
    transition: .1s ease-in-out;
    border-radius: 5px;

}

.rowSelected
{
    background-color:#e6e6e6;
    color: #121212;
    cursor: pointer;
    transition: .1s ease-in-out;
    border-radius: 5px;

}

.searchContainer table td
{
    width: 5vw;
    display: flex;
    align-items: center;
    word-break: break-word; /* fuerza el salto dentro de palabras largas */
    white-space: normal;    /* permite múltiples líneas */
    overflow-wrap: anywhere; /* ayuda adicional para saltos de línea */
    font-size: 16px;
    justify-content: center;

}

.searcher
{
    width: 350px;
    height: 45px !important;
    font-size: 19px;
    margin: 10px 0px;
    border-radius: 8px;
    border: none;
    padding-left: 10px;
}

.searchButtons
{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    flex-direction: row;
}

.searchButtons select,.searcher
{
    outline: none;
}

.searcher:hover
{
    cursor:text;
}
.searchButtons select:hover
{
    cursor: pointer;
}


.searchButtons select
{
    padding-left: 10px;
    font-size: 18px;
    height: 45px;
    width: 250px;
    border-radius: 8px;
}


.topBar
{
    background-color: #131313;
    width: 100vw;
    height: 6vh;
    position: relative;
    z-index: 10000;
    color:white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:0px 25px;
    font-size: 19px;
    border: 1px #b3b3b3 solid;
    justify-content: space-between;
    padding-right: 0;
    border-bottom: none;
   /* -webkit-app-region:drag;*/

}

.dragMe
{
    flex:1;
    -webkit-app-region:drag;
}


.topBar span
{
    display: flex;
    flex-direction: row;
    gap:4px;
    height: 100%;
    align-items: center;
}

.topBar span img
{
    width: 100%;
    filter:invert(1)
}

.topBar span img:hover
{
    cursor: pointer;
    filter: invert(0);

}

.topBar span i
{

    height: 100%;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6%;
    transition: .2s ease-in-out;

}
.topBar span i:hover
{
    background-color: white;
    cursor: pointer;
}


.colAdapt
{
    overflow-y: hidden;
}

.closeView:hover
{
    background-color: rgb(255, 49, 49) !important;
}

.closeView img:hover
{
    filter:invert(1) !important
}

.mainRow
{
    height:50px;
}


#rentalDate
{
    position: relative;
}

#rentalDate::before
{
    transition: .2s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:#e6e6e6;
    display: flex;
    z-index: 1000;
    content: 'fecha de renta';
}


#rentalDate:hover::before
{
    opacity: 0;
    pointer-events: none;
}

.crudForm span
{
    position: relative;
    background-color: red;
    padding-left: 0;
    overflow: hidden;
}

.crudForm span::before
{
    position: absolute;
    content: "fecha de pago";
    width: 100%;
    height: 100%;
    color:#505050;
    padding-left: 10px;
    display: flex;
    align-items: center;
    background-color: #e6e6e6;
    transition: .2s ease-in-out;
}
.crudForm span:hover::before
{
    opacity: 0;
    pointer-events: none;
}

.crudForm span input
{
    width: 100%;
}


.crudForm option, .crudForm select, .crudForm input
{
    color:#505050
}

/*
    Modal
*/
.modal
{
    width: 45vw;
    height: 40vh;
    min-width: 575px;
    background-color:#505050;
    position: fixed;
    z-index: 1000;
    border-radius: 50px;
    top: 15vh;
    left: 25vw;
    flex-direction: column;
    padding: 3%;
    display: flex;
    align-items: center;
    color:#e6e6e6;
    gap:10px
}

.modalInputNameContainer
{

}

.modalInputNameContainer input
{
    width: 385px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 10px;
}


.modalPrincipalContainer
{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    gap:10px;

}

.modalPrincipalContainer h2
{
    text-align: center;
    border-bottom: 3px solid #e6e6e6;
    
}

.modalPrincipalContainer div
{
    display: flex;

    flex-direction: row;
    height: 50vh;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;



}
.inputMonto
{
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 10px;
}

.modal button
{
    width: 125px;
    border: none;
    border-radius: 10px;
    height: 25px;
}

.modal button:hover
{
    cursor: pointer;
    background-color: white;
}
.modalButtonContainer
{
    width: 100%;
    height:100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}



@media(max-width:1640px)
{
  .containerCover
  {
    flex-direction: column;
  }
  .apartContainer
  {
    min-height: 40vh;
  }
  .containerCover
  {
    padding: 0;
    padding-top: 10px;
  }

  .colAdapt
  {
    overflow-y:auto;
  }

.searchContainer table td
{
    width: auto;
    flex:1
}

}

@media(max-height:885px)
{
  .containerCover
  {
    flex-direction: column;
  }
  .apartContainer
  {
    min-height: 40vh;
  }
  .containerCover
  {
    padding: 0;
    padding-top: 10px;
  }

  .colAdapt
  {
    overflow-y:auto;
  }

.searchContainer table td
{
    width: auto;
    flex:1
}
  
}